<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pacientes-heading" data-cy="PacientesCreateUpdateHeading" jhiTranslate="sumativaApp.pacientes.home.createOrEditLabel">
        Crear o editar Pacientes
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="sumativaApp.pacientes.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let pacienteIdRef = editForm.get('pacienteId')!;
        <div class="mb-3">
          <label class="form-label" for="field_pacienteId" jhiTranslate="sumativaApp.pacientes.pacienteId">Paciente Id</label>
          <input
            type="number"
            class="form-control"
            name="pacienteId"
            id="field_pacienteId"
            data-cy="pacienteId"
            formControlName="pacienteId"
          />
          @if (pacienteIdRef.invalid && (pacienteIdRef.dirty || pacienteIdRef.touched)) {
            <div>
              @if (editForm.get('pacienteId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('pacienteId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="sumativaApp.pacientes.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellidoPaterno" jhiTranslate="sumativaApp.pacientes.apellidoPaterno"
            >Apellido Paterno</label
          >
          <input
            type="text"
            class="form-control"
            name="apellidoPaterno"
            id="field_apellidoPaterno"
            data-cy="apellidoPaterno"
            formControlName="apellidoPaterno"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellidoMaterno" jhiTranslate="sumativaApp.pacientes.apellidoMaterno"
            >Apellido Materno</label
          >
          <input
            type="text"
            class="form-control"
            name="apellidoMaterno"
            id="field_apellidoMaterno"
            data-cy="apellidoMaterno"
            formControlName="apellidoMaterno"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rut" jhiTranslate="sumativaApp.pacientes.rut">Rut</label>
          <input type="text" class="form-control" name="rut" id="field_rut" data-cy="rut" formControlName="rut" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fechaNacimiento" jhiTranslate="sumativaApp.pacientes.fechaNacimiento"
            >Fecha Nacimiento</label
          >
          <div class="input-group">
            <input
              id="field_fechaNacimiento"
              data-cy="fechaNacimiento"
              type="text"
              class="form-control"
              name="fechaNacimiento"
              ngbDatepicker
              #fechaNacimientoDp="ngbDatepicker"
              formControlName="fechaNacimiento"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_genero" jhiTranslate="sumativaApp.pacientes.genero">Genero</label>
          <input type="text" class="form-control" name="genero" id="field_genero" data-cy="genero" formControlName="genero" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="sumativaApp.pacientes.telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="sumativaApp.pacientes.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_direccion" jhiTranslate="sumativaApp.pacientes.direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
